<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footFragment">
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-4 col-sm-12" style="margin-left: 50px;">
      <p class="text-dark font"><strong>(주) Fit me</strong></p>
      <p class="text-dark muted">대표이사.김지윤 이메일.coolcool35@naver.com
        <br>주소.강원도 춘천시 돌담길 10번길
        <br>개인정보 보호책임자.김지윤 통신판매업신고.2023-서울성북-0011
      </p>
    </div>

    <div class="col-md-4 col-sm-12 offset-md-3 d-none d-md-block">
      <p class="text-dark font"><strong>CS CENTER</strong></p>
      <p class="text-dark muted">010-3217-3893
        <br>평일 AM 09:00 ~ PM 04:00
        <br>점심 PM 12:00 ~ PM 1:00
        <br>토/일요일/공휴일 휴무
      </p>
    </div>
  </div>
</div>
</html>