
body {
    background-image:url('https://shoppingmall-jiyoon.s3.ap-northeast-2.amazonaws.com/menu/background.png');
}

/*타이틀 열*/
.first {
    margin-top: 10px;
}

.title > image {
    height: 120px;
}

.navi a:link{
    text-decoration: none;
    font-size: 40px;
}

#ul {
    list-style-type:none;
    top: 50px;
    right: 50px;
    font-family: 'Nanum Brush Script', Comic Sans MS;
}

#ul > li > a {
    color: #000000;
}

/*중간 박스 이미지*/
.third {
    margin-bottom: -40px;
}

.center > a > img {
  height: 90%;
  width: 90%;
}

.best {
    margin-left:-50px
}

#bestImg {
    width: 100px;
    height: 90px;
}

/*카테고리 열*/
.category > li > a > img {
    height: 80px;
    width: 110px;
}

.scroll {
    overflow: auto;
}

/*마지막 열*/
p {
    font-family: 'Nanum Brush Script', Comic Sans MS;
    font-size: 20px;

}


