body {
    background-image:url('https://shoppingmall-jiyoon.s3.ap-northeast-2.amazonaws.com/menu/background.png');
}

/*타이틀*/
#title {
    width:300px;
    height:120px;
    margin-top:30px;
}

/*로그인, 로그아웃, 마이페이지 버튼*/
#ul >li > a:link{
    text-decoration: none;
    font-size: 50px;
}

#ul {
    list-style-type:none;
    top: 50px;
    right: 50px;
    font-family: 'Nanum Brush Script', Comic Sans MS;
}

#ul > li > a {
    color: #000000;
}

#ul > li > p {
    font-size: 50px;
}

#ul > li > button {
    border: none;
    background-image:url('https://shoppingmall-jiyoon.s3.ap-northeast-2.amazonaws.com/menu/background.png');
    font-size: 50px;
}

.liStyle {
    display : inline;
}

/*My Basket 타이틀*/
.myBasketRow {
    text-align:center;
}

#myBasket {
    font-family: 'Nanum Brush Script', Comic Sans MS;
    font-size: 70px;
    margin-top: 30px;
}

/*체크 박스*/
input[type=checkbox] {
    display:none;
}
input[type=checkbox] + label {
    cursor: pointer;
    width:50px;
    height:50px;
    background-size: contain;
    padding-left: 23px;
    background-repeat: no-repeat;
    background-image: url('https://shoppingmall-jiyoon.s3.ap-northeast-2.amazonaws.com/menu/unChecked.png');
}
input[type=checkbox]:checked + label {
    background-image: url('https://shoppingmall-jiyoon.s3.ap-northeast-2.amazonaws.com/menu/checked.png');
}

/*테이블*/
#basketListTable {
    border-bottom: 2.3px solid #DA5614;
}

.basketTableRow {
    border-collapse : collapse;
    width : 600px;
    font-size: 30px;
    font-family: 'Nanum Brush Script', Comic Sans MS;
    border-top: 2.3px solid #DA5614;
}

.titleTd {
    width: 20%;
    vertical-align:middle;
    text-align:center;
    font-weight: bold;
}

.td1.td2 {
    width: 20%;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align:middle;
    text-align:center;
}

#emptyTable {
    text-align : center;
    height : 100px;
    color: #696969;
}

td > a > #tablePImage {
    width: 150px;
    height:190px;
}

/*상품 삭제시 경고 메시지*/
.delBasketBtn {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #C7B199;
}

.swal2-confirm {
    width : 90px;
}

.swal2-cancel {
    margin-left: 90px;
    width : 80px;
}

/*총 상품금액*/
#priceInfo {
    font-family: 'Nanum Brush Script', Comic Sans MS;
}