body {
    background-image:url('/images/background.png');
}

/*.ul {
    background-color: #D5B59C;
    width: 80%;
    *//*justify-content: space-around;*//*
}*/

.tab ul li {
    display: inline-block;
    font-family: 'Nanum Brush Script', Comic Sans MS;
    font-size: 30px;
    margin-left: 100px;
}

.tab ul > li > a {
    color: #000000;
}

.tab a:link {
    text-decoration: none;
}

.tab a:hover {
    background-color: black;
}

p {
    font-family: 'Nanum Brush Script', Comic Sans MS;
    font-size: 30px;

}

.sumNail {
    width: 100px;
    height: 500px;
}