body {
    background-image:url('https://shoppingmall-jiyoon.s3.ap-northeast-2.amazonaws.com/menu/background.png');
}

/*로그인/로그아웃 버튼*/
nav > #loginBox > li > a:link{
    text-decoration: none;
    font-size: 50px;
}

nav > #loginBox {
    list-style-type:none;
    top: 50px;
    right: 50px;
    font-family: 'Nanum Brush Script', Comic Sans MS;
}

nav > #loginBox > li > button {
    border: none;
    background-image:url('https://shoppingmall-jiyoon.s3.ap-northeast-2.amazonaws.com/menu/background.png');
    font-size: 50px;
}


nav > #loginBox > li > a {
    color: #000000;
}

/*카테고리 열*/
.categoryContainer {
    margin-bottom: 30px;
}

.category > li > a > img {
    height: 70px;
    width: 110px;
}

.tab ul li {
    display: inline-block;
    font-family: 'DNFForgedBlade';
    /*font-family: 'Nanum Brush Script', Comic Sans MS;*/
    font-size: 20px;
    margin-left: 100px;
}

/*이미지 열*/

.left1.left2 {
    background-image: url('https://shoppingmall-jiyoon.s3.ap-northeast-2.amazonaws.com/menu/leftArrow.png');
}

.right1.right2 {
    background-image: url('https://shoppingmall-jiyoon.s3.ap-northeast-2.amazonaws.com/menu/rightArrow.png');
}

.pImgC1.pImgC2 {
    width: 40%;
}

.caBox1.caBox2 {
    display: float;
    margin-left: 80px;
    width:70%;
}

.pImg1.pImg2 {
    max-width: 100%;
    margin: 0 auto;
/*    text-align: center;*/
}

/*상품명*/
.pn1.pn2 {
    font-size: 40px;
    font-weight: bold;
}

/*상품가격, 짧은설명*/
.pp1.pp2 {
    font-size: 35px;
}

/*.pInfo1.pInfo2 {
    font-size: 25px;
    font-family: 'DNFForgedBlade';
}*/

/*선택박스*/
.op1.op2 {
    font-size: 30px;
}

.sel {
    border-radius: 3px;
    border-width: 2px;
    font-size: 25px;
    font-family: 'Nanum Brush Script', Comic Sans MS;
    /*font-family: 'DNFForgedBlade';*/
    background-color: #F8F8F8;
    text-align: center;
    width: 90px;
    height: 35px;
}

/*수량 선택*/
.countBtn {
    border-radius: 30px;
    border-color: #767171;
    border-width: 2.2px;
    width:40px;
    height:40px;
    font-size:25px;
    background-color: #ffffff;
}

/*개수 선택*/
#countResult {
    font-size:30px;
    margin-top:-5px;
}

/*추가 버튼*/
.addBtn {
    width:80px;
    height:40px;
    font-family: 'Nanum Brush Script', Comic Sans MS;
    /*font-family: 'DNFForgedBlade';*/
    background-color: #C7B199;
    font-size:25px;
    font-weight :bold;
}

/*버튼 디자인*/
.btnDesign {
    border: 2px solid #994122;
    border-radius: 20px;
    width: 50px;
    height: 40px;
    background: url('https://shoppingmall-jiyoon.s3.ap-northeast-2.amazonaws.com/menu/rightArrow.png');
    /*font-family: 'DNFForgedBlade';*/
    font-family: 'Nanum Brush Script', Comic Sans MS;
    font-size: 30px;
}

/* 옵션 선택 결과 테이블 */
#selectResultTable {
    border: 2px solid #A69F97;
    border-collapse : collapse;
    width: 100%;
}

.th1.th2 {
    border-bottom: 2px solid #A69F97;
}

th, td {
    vertical-align: middle;
    font-family: 'Nanum Brush Script', Comic Sans MS;
    font-size: 25px;
}

.delBtn {
    border-radius: 50px;
}


/* 총 상품 가격 */
#totalPrice {
    font-size:30px;
    font-weight : bold;
}

/*상세정보 탭 네비게이션*/
.tab ul > li > a {
    color: #000000;
}

.tab a:link {
    text-decoration: none;
}

.tab a:hover {
    background-color: black;
}
