<!DOCTYPE html>
<!-- 검색엔진에서 한국어로 찾았을때 우선순위 높아짐 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>               <!-- 웹 브라우저가 웹 문서를 해석하는데 필요한 정보 -->
  <meta charset="UTF-8">      <!-- 한국어가 잘 나오게 함 -->
  <link href="css/mainPage.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div th:replace="~{/fragments/head.html::headFragment}"></div>

  <title>Login</title>
</head>

<body>
<div class="container">

  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <th:block th:replace="~{/fragments/login.html::loginFragment}"></th:block>
  </div>

</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script th:inline="javascript">
  let msg=[[${failureLogin}]];
</script>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/loginForm.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>