<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout1/commonLayout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

  <th:block layout:fragment="title">
    <title>myBasket</title>
  </th:block>

  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myBasket.css}"/>
  </th:block>

  <th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/myBasket.js}"></script>
  </th:block>

  <!-------------------------------content------------------------------>
  <th:block layout:fragment="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <a href="/"><img class="img-fluid" alt="쇼핑몰 타이틀" id="title"
                           th:src="${@environment.getProperty('aws.s3.baseUrl')} + 'menu/fitmeTitle.png'"></a>
        </div>

        <div class="col-md-6 col-sm-6 text-end" style="margin-top: 20px;">
          <nav class="navi">
            <ul id="ul">
              <li><button sec:authorize="isAnonymous()" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">-Login</button></li>
              <li><a sec:authorize="isAnonymous()" th:href="@{/join}">- Join</a></li>

              <li><p sec:authentication="name" sec:authorize="isAuthenticated()"></p></li>
              <li><a sec:authorize="isAuthenticated()">- MyPage</a></li>
              <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">- Logout</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- login Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <th:block th:replace="~{/fragments/login.html::loginFragment}"></th:block>
      </div>

      <div class="row myBasketRow">
        <p id="myBasket">My Basket</p>
      </div>

      <div class="row" style="margin-top:30px">
        <form>
          <input type="checkbox" name="select" id="allCheck" value="all"
                 style="margin-left:-2px" onclick="allCheckFunction(this)">
            <label for="allCheck" />
        </form>
      </div>

      <div class="row">
        <table id="basketListTable">
          <tr id="basketTableRow">
            <!--<td class="td1 td2">
              <input type="checkbox" name="select" id="oneCheck" value="oneCheck">
              <label for="oneCheck" />
            </td>
            <td class="td1 td2 img">
              <img th:src="${one.image}" alt="상품 이미지">
            </td>
            <td class="td1 td2">
              <p th:text="${one.productName}" />
              <p th:text="${one.productName}" />
              <p th:text="${one.productName}" />
            </td>
            <td class="td1 td2" th:text="${one.count}" />
            <td class="td1 td2" th:text="${one.sum}" />
            <td class="td1 td2">
              <P>삭제</P>
            </td>-->
          </tr>
        </table>
      </div>

    </div>

  </th:block>

</html>