<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">      <!-- 한국어가 잘 나오게 함 -->
  <link th:href="@{/css/productDetail.css}" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div th:replace="/fragments/head.html::headFragment"></div>
  <title>ProductDetail</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 text-end" style="margin-left: -70px; margin-top: 30px;">
        <a href="/"><img class="img-fluid" alt="쇼핑몰 타이틀" id="title"
                         th:src="${@environment.getProperty('aws.s3.baseUrl')} + 'menu/fitmeTitle.png'"></a>
      </div>
      <div class="col-md-4 col-sm-6 offset-md-4 text-end" style="margin-top: 20px;">
        <nav>
          <ul id="loginBox">
            <li><a th:href="@{/login}">- Login</a></li>
            <li><a th:href="@{/join}">- Join</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light categoryContainer">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mx-auto mb-2 mb-lg-0 category">
            <li class="nav-item" style="margin-right: 120px;">
              <a class="nav-link active" aria-current="page" th:href="@{/categoryProduct/top}">
                <img alt="top" class="img-fluid a"
                     th:src="${@environment.getProperty('aws.s3.baseUrl')} + 'menu/categoryTop.png'">
              </a>
            </li>
            <li class="nav-item" style="margin-right: 120px;">
              <a class="nav-link"  th:href="@{/categoryProduct/skirt}">
                <img alt="skirt" class="img-fluid"
                     th:src="${@environment.getProperty('aws.s3.baseUrl')} + 'menu/categorySkirt.png'">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/categoryProduct/pants}">
                <img alt="pants" class="img-fluid"
                     th:src="${@environment.getProperty('aws.s3.baseUrl')} + 'menu/categoryPants.png'">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12 pImgC1 pImgC2">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active caBox1 caBox2">
              <img th:src="${product.mainImageList[0]}" class="d-block w-100 pImg1 pImg2" alt="mainImage1">
            </div>
            <div class="carousel-item caBox1 caBox2">
              <img th:src="${product.mainImageList[1]}" class="d-block w-100 pImg1 pImg2" alt="mainImage2">
            </div>
            <div class="carousel-item caBox1 caBox2">
              <img th:src="${product.otherImageList[0]}" class="d-block w-100 pImg1 pImg2" alt="otherImage1">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon left1 left2" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon right1 right2" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12">
        <p class="text-dark pn1 pn2" th:text="${product.name}"/>                       <!--상품명-->
        <p class="text-dark pf1 pf2" th:text="'-가격 : ' + ${product.price} + '원'"/>     <!--가격-->
        <p class="text-dark pf1 pf2" th:text="${product.shortDescrip}"/>               <!--짧은설명-->
        <br>
        <p class="text-dark pf1 pf2">-색상 :
          <select class="sel" >
            <option th:each="color : ${product.color}" th:value="${color}" th:text="${color}"></option>
          </select>
        </p>
        <p class="text-dark pf1 pf2">-사이즈 :
          <select class="sel" >
            <option th:each="fitSize : ${product.fitSize}" th:value="${fitSize}" th:text="${fitSize}"></option>
          </select>
        </p>

        <div class="row">
          <div class="col-md-4 col-sm-12">
            <p>찜</p>
          </div>

          <div class="col-md-4 col-sm-6">
            <p>장바구니</p>
          </div>

          <div class="col-md-4 col-sm-6">
            <p>바로구매</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <nav class="tab">
        <ul class="nav justify-content-around bg-light ul">
          <li><a href="">사이즈 정보 보기</a></li>
          <li><a href="">리뷰 바로가기</a></li>
          <li><a href="">쇼핑몰 정보 보기</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script th:inline="javascript" type="text/javascript">
    function hi() {

    }

  </script>
</body>
</html>